.root {}

.body1 {
  font-family: Lato;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}

.body2 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 5px;
}

.body3 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}