.root {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  /* height: calc(100vh - 100px); */
}

.contentWrapper {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.overlayer {
  transform: translate(23px, 25px);
}

.layersWrapper {
  margin-right: 25px;
  z-index: -1;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.layers {
  transform: scale(0.85);
}

.svgWrapper {
  margin-top: 90px;
  margin-bottom: 40px;
}

.text {
  margin: 10px 0 0;
  color: #00E322;
}

.textSize {
  font-size: 18px;
  font-weight: 900;
}

.textSmall {
  font-size: 14px;
  font-weight: 600;
}

.svgFirstName {
  margin-bottom: 5px;
}