.root {
  width: 100%;
  height: 70px;
}

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 35px;
}

.logoWrapper {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 50%;
}

.menuIconWrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 50%;
}